@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

.main {
    width: 22vw;
    height: 24vw;
}

.input-container {
    min-height: 30%;
}

.log-reg {
    margin-top: 5.5vw;
}