{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block load_css %}{% endblock load_css %}
    <title> {{ title }} </title>
</head>
<body id="body">
    <header>
        <section class="header-section">
            <div class="header-logo">
                <div>
                    <img src="{% static 'img/logo.svg' %}" alt="">
                </div>
                <div>
                    <span class="logo-text">FroxWorld</span>
                </div>
            </div>
            <div class="header-navigation">
                <div class="header-navigation-btn">
                    <a href="{% url 'index' %}">О сервере</a>
                    <div class="underline"></div>
                </div>
                <div class="header-navigation-btn">
                    <a href="{% url 'donate' %}">Донаты</a>
                    <div class="underline"></div>
                </div>
                <div class="header-navigation-btn">
                    <a href="#">Галерея</a>
                    <div class="underline"></div>
                </div>
            </div>
            <div class="header-social">
                <a target="_blank" href="https://www.youtube.com/@Yarik_Frox"><img src="{% static "img/Youtube.svg" %}" alt=""></a>
                <a target="_blank" href="https://vk.com/yrfungroup"><img src="{% static "img/VK.svg" %}" alt=""></a>
                <a target="_blank" href="https://discord.gg/K2RrQwMhZn"><img src="{% static "img/Discord.svg" %}" alt=""></a>
            </div>
            <div class="sign-in">
                {% if user.is_authenticated %}Привет, {{user.username}}{% else %}
                <form action="{% url 'login' %}">
                    <button class="sign-in-btn">Войти</button>
                </form>
                {% endif %}
                {% if user.is_authenticated %}
                <img src="{% static "img/Profile.svg" %}" id="profile-btn">
                <div class="profile-menu">
                    <div class="profile-btn"><a href="{% url 'profile' %}">Профиль</a></div>
                    <div class="change-pass-btn"><a href="{% url 'password_reset' %}">Сменить пароль</a></div>
                    <div class="profile-exit-btn"><a href="{% url 'logout' %}">Выйти</a></div>
                </div>
                {% else %}
                <div><img src="{% static "img/Profile.svg" %}" alt=""></div>
                {% endif %}
            </div>
        </section>

    </header>
    <main>
        {% block content %}
        default
        {% endblock content %}
    </main>
    {% block footer %}
    <footer>
        <section class="footer-section">
            <div class="footer-rights">
                <div class="footer-logo">
                    <div>
                        <img src="{% static 'img/logo.svg' %}" alt="">
                    </div>
                    <div>
                        <span class="logo-text">FroxWorld</span>
                    </div>
                </div>
                <div class="footer-copyright">
                    Copyright © 2023 FROX WORLD. All rights reserved.
                </div>
                <div class="footer-payment">
                    <div><img src="{% static 'img/MIR.svg' %}" alt=""></div>
                    <div><img src="{% static 'img/Visa.svg' %}" alt=""></div>
                    <div><img src="{% static 'img/Mastercard.png' %}" alt=""></div>
                    <div><img src="{% static 'img/Qiwi.png' %}" alt=""></div>
                </div>
            </div>
            <div class="footer-info">
                <div class="footer-menu">
                    <div class="footer-title">MENU</div>
                    <div class="footer-links">
                        <div><a href="{% url 'index' %}">Домой</a></div>
                        <div><a href="{% url 'donate' %}">Донаты</a></div>
                        <div><a href="Reload.txt" download="">Галерея</a></div>
                    </div>
                </div>
                <div class="footer-menu">
                    <div class="footer-title">SOCIAL</div>
                    <div class="footer-links">
                        <div><a target="_blank" href="https://discord.gg/K2RrQwMhZn">Discord</a></div>
                        <div><a target="_blank" href="https://www.youtube.com/@Yarik_Frox">Youtube</a></div>
                        <div><a target="_blank" href="https://vk.com/yrfungroup">ВКонтакте</a></div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    {% endblock footer %}

    <script src="{% static 'js/base.js' %}"></script>
    {% block load_js %}{% endblock load_js %}
</body>
</html>