{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="background-figure"></div>
        <section class="start-section">
            <div class="description">
                <div>
                    <img class="big-logo" src="{% static 'img/logo.svg' %}" alt="">
                </div>
                <div class="description-text">
                    <h1>Донаты</h1>
                    <p class="description-text-p">Магазин привелегий</p>
                </div>
            </div>
            <div class="play">
                <div>
                    <button class="play-btn"><p>Играть</p><img src="{% static 'img/arrow.png' %}" alt=""></button>
                </div>
                <div>
                    {% for server in servers %}
                    <div class="play-version"><img src="{% if server.is_online %}{% static 'img/online-icon.png' %}{% else %}{% static 'img/offline-icon.png' %}{% endif %}"><p>{{ server.name }} {{ server.online }}/{{ server.max_online }} </p></div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="donate">
            <div class="donate-title">
                Донат привелегии
            </div>
            <div class="donate-info">
                {% for privilege in privileges %}
                    {% if privilege.privilege_type.name == "privilege" %}
                        <div class="card">
                            <div><img class="img-content" src="{% static 'img/Donate.png' %}" alt=""></div>
                            <div class="donate-description">
                                <div>
                                    <div class="donate-name">{{ privilege.name }}</div>
                                    <div class="donate-price">{{ privilege.price }}₽</div>
                                </div>
                                <button><img src="{% static 'img/add.png' %}" alt=""></button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="donate-title">
                Кейсы
            </div>
            <div class="donate-info">
                {% for privilege in privileges %}
                    {% if privilege.privilege_type.name == "cases" %}
                        <div class="card">
                            <div><img class="img-content" src="{% static 'img/Donate.png' %}" alt=""></div>
                            <div class="donate-description">
                                <div>
                                    <div class="donate-name">{{ privilege.name }}</div>
                                    <div class="donate-price">{{ privilege.price }}₽</div>
                                </div>
                                <button><img src="{% static 'img/add.png' %}" alt=""></button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="donate-title">
                Услуги
            </div>
            <div class="donate-info">
                {% for privilege in privileges %}
                    {% if privilege.privilege_type.name == "services" %}
                        <div class="card">
                            <div><img class="img-content" src="{% if privilege.image %}{{privilege.image.url}}{% else %}{% static 'img/Donate.png' %}{% endif %}" alt=""></div>
                            <div class="donate-description">
                                <div>
                                    <div class="donate-name">{{ privilege.name }}</div>
                                    <div class="donate-price">{{ privilege.price }}₽</div>
                                </div>
                                <button><img src="{% static 'img/add.png' %}" alt=""></button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <section class="purchase">
            <div class="donate-cart">
                <img src="{% static "img/shopping-bag.png" %}" alt="">
                <div class="shopping-count">4</div>
            </div>
            <div class="cart-list">
                <div class="purchase-section">
                    <div class="purchase-info">Название привилегии <p>10.092р.</p></div>
                    <button class="purchase-del-btn"><img src="{% static 'img/icon-delete.svg' %}" alt=""></button>
                </div>
                <div class="purchase-section">
                    <div class="purchase-info">Название привилегии <p>10.092р.</p></div>
                    <button class="purchase-del-btn"><img src="{% static 'img/icon-delete.svg' %}" alt=""></button>
                </div>
                <div class="purchase-section">
                    <div class="purchase-info">Название привилегии <p>10.092р.</p></div>
                    <button class="purchase-del-btn"><img src="{% static 'img/icon-delete.svg' %}" alt=""></button>
                </div>                
                <div class="purchase-section">
                    <div class="purchase-info">Название привилегии <p>10.092р.</p></div>
                    
                </div>
            </div>

            <div class="basket-background">
                <div class="basket-wrapper">
                    <div class="basket-donate">
                        <div class="basket-donate-wrapper">
                            <div class="basket-donate-img">
                                <img src="{% static 'img/Donate.png' %}" alt="">
                            </div>
                            <div class="basket-donate-info">
                                <div class="basket-donate-info-name">Название привилегии</div>
                                <div class="basket-donate-info-price">1000₽</div>
                            </div>
                        </div>
                        <div class="basket-donate-del">
                            <button class="basket-donate-del-btn"><img src="{% static 'img/icon-delete.svg' %}" alt=""></button>
                        </div>
                    </div>
                    <div class="basket-donate">
                        <div class="basket-donate-wrapper">
                            <div class="basket-donate-img">
                                <img src="{% static 'img/Donate.png' %}" alt="">
                            </div>
                            <div class="basket-donate-info">
                                <div class="basket-donate-info-name">Название привилегии</div>
                                <div class="basket-donate-info-price">1000₽</div>
                            </div>
                        </div>
                        <div class="basket-donate-del">
                            <button class="basket-donate-del-btn"><img src="{% static 'img/icon-delete.svg' %}" alt=""></button>
                        </div>
                    </div>
                    <div class="basket-donate">
                        <div class="basket-donate-wrapper">
                            <div class="basket-donate-img">
                                <img src="{% static 'img/Donate.png' %}" alt="">
                            </div>
                            <div class="basket-donate-info">
                                <div class="basket-donate-info-name">Название привилегии</div>
                                <div class="basket-donate-info-price">1000₽</div>
                            </div>
                        </div>
                        <div class="basket-donate-del">
                            <button class="basket-donate-del-btn"><img src="{% static 'img/icon-delete.svg' %}" alt=""></button>
                        </div>
                    </div>
                    <div class="basket-purchase-btn">
                        <button>К оплате</button>
                    </div>
                </div>
                <div class="basket-exit">
                    <button class="basket-exit-btn"><img src="{% static 'img/icons-exit.svg' %}" alt=""></button>
                </div>
            </div>

        </section>
{% endblock content %}

{% block load_js %}
<script src="{% static 'js/donate.js' %}"></script>
{% endblock load_js %}