{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="background-figure"></div>
        <section class="start-section">
            <div class="description">
                <div>
                    <img class="big-logo" src={% static "img/logo.svg" %} alt="">
                </div>
                <div class="description-text">
                    <h1>FroxWorld</h1>
                    <p class="description-text-p">Открой для себя огромные миры, полные веселья и миллионов друзей</p>
                </div>
            </div>
            <div class="play">
                <div>
                    <button class="play-btn"><p>Играть</p><img src="{% static 'img/arrow.png' %}" alt=""></button>
                </div>
                <div>
                    {% for server in servers %}
                    <div class="play-version"><img src="{% if server.is_online %}{% static 'img/online-icon.png' %}{% else %}{% static 'img/offline-icon.png' %}{% endif %}"><p>{{ server.name }} {{ server.online }}/{{ server.max_online }} </p></div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="about">
            <div>  
                <img class="about-image" src="{% static 'img/Frox.png' %}" alt="">
            </div>
            <div class="about-info">
                <div class="about-title">
                    О сервере
                </div>
                <div class="about-line"></div>
                <div class="about-text">
                    FroxWorld - Игровой сервер Minecraft. С каждым месяцем мы развиваемся всё больше. На сервере ты сможешь хорошо провести своё время, и остаться довольным игровым процессом! Мы желаем вам хорошо провести время на нашем сервере!
                </div>
            </div>
        </section>
        <section  class="advantages">
            <div class="advantages-title">Почему FroxWorld?</div>
            <div class="advantages-info">
                <div class="advantage">
                    <div class="advantage-icons"><img class="advantage-icon" src="{% static 'img/icon-Discord.png' %}" alt=""></div>
                    <div class="advantage-info">
                        <div class="advantage-title">Discord сервер</div>
                        <div class="advantage-text">На нашем <a target="_blank" href="https://discord.gg/K2RrQwMhZn">Discord</a> сервере вы можете найти, с кем поиграть, с кем поболтать.</div>
                    </div>
                </div>
                <div class="advantage">
                    <div class="advantage-icons"><img class="advantage-icon" src="{% static 'img/icon-Launcher.png' %}" alt=""></div>
                    <div class="advantage-info">
                        <div class="advantage-title">Свой Launcher</div>
                        <div class="advantage-text">Собственный Launcher, оптимизированный и готовый к тому, чтобы начать ваше приключение</div>
                    </div>
                </div>
                <div class="advantage">
                    <div class="advantage-icons"><img class="advantage-icon" src="{% static 'img/icon-Shop.png' %}" alt=""></div>
                    <div class="advantage-info">
                        <div class="advantage-title">Онлайн магазин</div>
                        <div class="advantage-text">На сайте вы можете приобрести как донатные привелегии, так и кейсы.</div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}