{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="background-figure"></div>
<section class="profile-section">
    <div class="profile">
        <div class="description">
            <div>
                <img class="profile-logo" src="{% if profile.image %}{{profile.image.url}}{% else %}{% static 'img/Profile.svg' %}{% endif %}" alt="">
            </div>
            <div class="description-text">
                <h1>{{profile.user.username}}</h1>
                <p class="description-text-p">{{profile.user.email}}</p>
            </div>
        </div>
        <div class="play">
            <div>
                <button class="play-btn"><p>Играть</p><img src="{% static 'img/arrow.png' %}" alt=""></button>
            </div>
            <div>
                {% for server in servers %}
                <div class="play-version"><img src="{% if server.is_online %}{% static 'img/online-icon.png' %}{% else %}{% static 'img/offline-icon.png' %}{% endif %}"><p>{{ server.name }} {{ server.online }}/{{ server.max_online }} </p></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="skin">
        <img class="skin-image" src="{% if profile.skin %}{{profile.skin.url}}{% else %}{% static 'img/sad.jpg' %}{% endif %}" alt="">
        <form class="skin-form" enctype="multipart/form-data" action="#" method="POST">{% csrf_token %}
            <input class="input__file" type="file" name="skin" id="skin__file">
            <label for="skin__file" class="input__file-label">
                <span class="input__file-button-text">Сменить скин</span>
            </label>
            <input class="input__file" type="file" name="image" id="image__file">
            <label for="image__file" class="input__file-label">
                <span class="input__file-button-text">Сменить аватар</span>
            </label>
            <button type="submit"><p>Сохранить</p><img src="{% static 'img/icon-save.png' %}" alt=""></button>
        </form>
    </div>
</section>
{% endblock content %}