{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/reg-log.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <main>
        <form action="#" method="POST" class="main">
            <div class="label">Регистрация</div>
            <div class="input-container">
                <div class="input-wrapper">
                    <div class="input-logo"><img src="{% static 'img/user-icon.png' %}" alt=""></div>
                    <input placeholder="Логин" type="text" name="login">
                </div>
                <div class="input-wrapper">
                    <div class="input-logo"><img src="{% static 'img/email-icon.png' %}" alt=""></div>
                    <input placeholder="E-mail" type="email" name="email">
                </div>
                <div class="input-wrapper">
                    <div class="input-logo"><img src="{% static 'img/pass-icon.png' %}" alt=""></div>
                    <input placeholder="Пароль" type="password" name="password">
                </div>
                <div class="input-wrapper">
                    <div class="input-logo"><img src="{% static 'img/pass-icon.png' %}" alt=""></div>
                    <input placeholder="Повторите пароль" type="password" name="repassword">
                </div>
            </div>
            <div>
                <div><button type="submit" class="btn">Зарегистрироваться</button></div>
                <div class="log-reg">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a> сейчас</div>
            </div>
        </form>
    </main>
</body>