.btn {
    width: 16vw;
    height: auto;
    margin: auto;
    margin-top: 1.5vw;
    
}

.input-wrapper {
    color: white;
    background-color: #4d4d4d;
    border-radius: 45vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    margin-top: 1vw;
    height: 80%;
}

.main {
    min-height: 20vw;
    width:  40vw;
}

p {
    text-align: center;
}

.password-input {
    border: 1px solid rgb(100, 100, 100);
}

table {
    border-spacing: 0.5vw;
}

.password-label {
    display: flex;
    align-items: flex-end;
}

.btn-container {
    text-align: center;
}

.error-td {
    width: 100%;
    color: rgb(131, 131, 131);
}