{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if validlink %}
<div class="form-wrapper">
    <form class="main" action="" method="post">{% csrf_token %}
        <p>Пожалуйста введите свой новый пароль</p>
        <table>
            <tr>
              <td class="password-label">
                <label for="id_new_password1">Новый пароль:</label>
              </td>
              <td class="password-input">{{ form.new_password1 }}</td>
            </tr>
            <tr>
              <td class="password-label">
                <label for="id_new_password2">Подтвердите пароль:</label>
              </td>
              <td class="password-input">{{ form.new_password2 }}</td>
            </tr>
            <tr>
              <td class="btn-container" colspan="2"><input class="btn" type="submit" value="Сменить пароль" /></td>
            </tr>
            <tr>
              <td class="error-td" colspan="2">
                {{ form.new_password1.errors }}
              </td>
            </tr>
            <tr>
              <td class="error-td" colspan="2">
                {{ form.new_password2.errors }}
              </td>
            </tr>
        </table>
    </form>
</div>
{% else %}
<h1>Сброс пароля провален</h1>
<p>
  Ссылка подтверждения пароля неверная, возможно это из-за того, что ссылка уже была использованна. Пожалуйста попробуйте снова.
</p>
{% endif %}
{% endblock content %}
{% block footer %}{% endblock footer %}
{% block load_css %}
<link rel="stylesheet" href="{% static 'css/reg-log.css' %}">
<link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
{% endblock load_css %}