{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="form-wrapper">
    <div class="main">
        <p>
            На вашу почту пришло письмо с дальнейшими инструкциями. <br> Если оно не пришло в течении 5 минут, проверьте спам.
        </p>
    </div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
{% block load_css %}
<link rel="stylesheet" href="{% static 'css/reg-log.css' %}">
<link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">
{% endblock load_css %}