{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="form-wrapper">
    <form class="main" action="" method="post">{% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <label>Введите свою почту</label>
            <p class="email_input">{{ form.email }}</p>
        <input type="submit" class="btn" value="Сбросить пароль" />
    </form>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
{% block load_css %}
<link rel="stylesheet" href="{% static 'css/reg-log.css' %}">
<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
{% endblock load_css %}